__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
LLamaIndex-Text-Classification

.env
.venv
.config

data

*.text
*.exe
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.lzop
*.tar.zst
*.tar.lzo
*.tar.lz4

